html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Comme', sans-serif;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
} 

.nav-list {
    background-color: #fffffe; 
    color: #0f0e17;
    font-weight: bolder;
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-block: 2rem;
    gap: 6rem;
    margin: 0;
}

.nav-list a {
    text-decoration: none;
    position: relative;
    color: #0f0e17;
}

.nav-list li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #0f0e17;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
  
.nav-list li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* Styling for homepage */
.homepage-section {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #fffffe;
    font-size: 1.7rem;
    padding-top: 7em;
    padding-bottom: 2em;
    padding-inline: 8em;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter:brightness(0.7)
  }

  /* Our Services styling page */

h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #16161a;
    color: #fffffe;
    padding-block: 1em;
}

.section-descriptions {
    font-size: 1rem;
    text-align: center;
    padding-inline: 17rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}

/* Styling for image Carousel */

.image-carousel-section {
  margin: 0;
  padding: 0;
  width: 100%;
}

.image-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  font-family: 'DM Sans', sans-serif;
  background-color: #fffffe;
}

input[type=radio] {
    display: none;
  }
  
.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}
  
.container {
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
  
.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
  
img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
  
#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}
  
#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}
  
#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    
}
  
  
#item-2:checked ~ .player #test {
    transform: translateY(0);
}
  
#item-2:checked ~ .player #test  {
    transform: translateY(-40px);
}
  
#item-3:checked ~ .player #test  {
    transform: translateY(-80px);
}

/* Styling for Comercial Cleaning section */
.commercial-cleaning-header {
    background-color: #16161a; /* needs to be separately styled due to image carousel above needing specific spacing */
    color: #fffffe;
    text-align: center;
    padding-block: 1em;
    margin-top: 20rem;  
} 


/* Styling for Commercial Cleaining Section */

.commercial-cleaning-section {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}

.cleaining-service-card {
  border-radius: 3%;
  background-color: #16161a;
  color: #94a1b2;
  width: 22rem;
  text-align: center;
  padding: 1rem;
}

.cleaining-card-title {
  color: #fffffe;
}

.our-partners-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #16161a;
    color: #fffffe;
    padding-block: 1em;
}

/* Styling for Our Partners Section */

.footer-distributed{
	background: #16161a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 55px 50px;
}

/* Styling for Footer */
.footer-distributed 
.footer-left,
.footer-center,
.footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */
.company-logo-footer {
    width: 7rem; /* set the width to 300 pixels */
    height: auto; /* allow the height to adjust proportionally */
  }

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #0f0e17;
	color: #fffffe;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #fffffe;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p a{
	color:  #7f5af0;
	text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



/* Media Queries */

  /* Targeting smartphones */
  @media screen and (max-width: 300px) {
    .nav-list {
        padding-block: 2rem;
        gap: 2rem;
        margin: 0;
        font-size: 8pt;
    }

    .homepage-section {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    padding-top: 12em;
    padding-bottom: 1em;
    padding-inline: 0em;
    font-weight: lighter;
    }
    
    video {
    filter:brightness(0.8)
    }

    .section-descriptions {
    font-size: 10pt;
    padding-inline: 1rem;
    margin-bottom: 0;
    line-height: 2rem;
    text-align: left;
    }

    .commercial-cleaning-section {
        display: block;
    }

    .cleaining-service-card {
        border-radius: 0;
        width: fit-content;
    }
    
    .commercial-cleaning-section div {
        margin-bottom: 1rem;
    }
  }  